@import url("https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --clr-black: #000000;
  --clr-white: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  background-color: #000000;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

.container {
  width: 1440px;
  margin: 0 auto;
  align-items: center;
  background-color: white;
}

.header__container {
  display: flex;
  flex-direction: row;
  padding: 0 165px;
  justify-content: center;
  height: 72px;
}

.header__main-logo {
  margin: auto 0;
}

.header__main-menu {
  margin: auto;
}

.header__main-menu ul {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  letter-spacing: 2px;
}

.header__main-menu ul li {
  font-size: 12px;
  margin: 0 18px;
  transition: filter 0.1s ease 0.1s;
}

.header__main-menu ul li a {
  color: black;
  text-decoration: none;
}

.header__main-menu ul li a:hover {
  color: #dfdfdf;
  cursor: pointer;
  transition: filter 0.1s ease-in;
}

.header__button {
  margin: auto 0;
  font-weight: bold;
  text-decoration: none;
}

.header__button a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  background-color: #000000;
  padding: 12px 24px;
}

.header__button a:hover {
  color: black;
  background-color: #dfdfdf;
}

.banner__one {
  height: 650px;
  display: flex;
  flex-direction: row;
}

.banner__one__left {
  color: #ffffff;
  background-color: black;
  padding: 173px 112px;
  position: relative;
}

.banner__title {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 48px;
}

.banner__description {
  margin-top: 21px;
  font-size: 16px;
  font-weight: 200;
}

.banner__invite {
  margin-top: 48px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
}

.banner__invite img {
  padding-left: 18px;
}

.banner__invite:hover {
  cursor: pointer;
  text-decoration: underline;
}

.banner__one__left img {
  filter: brightness(0) invert(1);
}

.gradient-box {
  background: linear-gradient(28deg, #ffc593, #bc7198, #5a77ff);
  width: 6px;
  height: 304px;
  position: absolute;
  left: 0;
}

.banner__two {
  height: 600px;
  display: flex;
  flex-direction: row;
}

.banner__two__right {
  padding: 136px 112px;
}

.banner__three {
  height: 600px;
  display: flex;
  flex-direction: row;
}

.banner__three__left {
  padding: 160px 112px;
}

.stories {
  display: flex;
  flex-direction: row;
  height: 500px;
  color: #ffffff;
}

.stories__hover {
  transition: 0.5s;
  height: 500px;
  width: 360px;
  position: relative;
  color: white;
}

.stories__hover:hover {
  margin-top: -24px;
  cursor: pointer;
  border-bottom: 6px solid transparent;
  border-image: linear-gradient(to right, #ffc593, #bc7198, #5a77ff);
  border-image-slice: 1;
}

.stories__container hr {
  height: 1px;
  opacity: 0.25;
  width: 280px;
  margin-top: 16px;
  margin-bottom: 20px;
  color: #979797;
}

.stories__one {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1)),
    url("assets/stories/desktop/mountains.jpg");
}

.stories__container {
  position: absolute;
  bottom: 0;
  padding: 40px;
}

.stories__container img {
  filter: brightness(0) invert(1);
  position: absolute;
  right: 40px;
  bottom: 40px;
}

.stories__title {
  font-size: 18px;
  font-weight: 600;
}

.stories__subtitle {
  font-size: 13px;
  font-weight: 300;
}

.stories__story {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.stories__two {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1)),
    url("assets/stories/desktop/cityscapes.jpg");
}

.stories__three {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1)),
    url("assets/stories/desktop/18-days-voyage.jpg");
}

.stories__four {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1)),
    url("assets/stories/desktop/architecturals.jpg");
}

.features {
  display: flex;
  flex-direction: row;
  padding: 120px 165px;
}

.features__container {
  width: 350px;
  text-align: center;
}

.features__title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 48px;
  margin-bottom: 16px;
}

.features__subtitle {
  font-size: 15px;
  line-height: 25px;
  font-weight: 200;
}

.features__second__container {
  padding-top: 36px;
  margin: 0 30px;
}

footer {
  height: 250px;
  width: 1440px;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 64px 165px 64px 171px;
  position: relative;
}

.footer__left ul {
  display: flex;
  flex-direction: row;

  position: absolute;
  bottom: 65px;
  left: 165px;
}
.footer__left ul li {
  margin-right: 14px;
  filter: brightness(0) invert(1);
  transition: filter 0.1s ease 0.1s;
}

.footer__left ul li:hover {
  filter: none;
  cursor: pointer;
  transition: filter 0.1s ease-in;
}

.footer__middle {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  margin-right: 460px;
}

.footer__middle ul li {
  margin-bottom: 15px;
}

.footer__middle ul li a {
  text-decoration: none;
  color: white;
}

.footer__middle ul li a:hover {
  opacity: 20%;
  cursor: pointer;
}

.footer__right {
  color: #ffffff;
  display: flex;
  flex-direction: row;
}

.footer__invite:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer__invite {
  letter-spacing: 2px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 12px;
}

.footer__right {
  filter: brightness(0) invert(1);
  position: relative;
}

.footer__right img {
  width: 42px;
  height: fit-content;
  margin-left: 16px;
}

.copyright {
  position: absolute;
  bottom: 0;
  font-size: 15px;
  width: 245px;
  right: -15px;
  font-weight: 200;
}

.hidden {
  display: none;
}
