.features__banner {
  height: 490px;
  display: flex;
  flex-direction: row;
}

.features__banner__left {
  width: 610px;
  background-color: black;
  color: white;
  padding-top: 173px;
  padding-left: 112px;
  position: relative;
}

.banner__descprition {
  font-size: 15px;
  line-height: 25px;
  font-weight: 200;
  margin-top: 20px;
}

.features__gradient-box {
  background: linear-gradient(28deg, #ffc593, #bc7198, #5a77ff);
  width: 6px;
  height: 144px;
  position: absolute;
  left: 0;
}

.features {
  flex-wrap: wrap;
  margin: 40px 0;
}

.lower__features {
  margin-top: 104px;
}

.boost__feature {
  margin: 104px 30px 0 30px;
}

.beta {
  background-image: url("../assets/shared/desktop/bg-beta.jpg");
  height: 280px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 68px 165px;
  position: relative;
}

.banner__invite img {
  filter: brightness(0) invert(1);
  margin-left: 16px;
  width: 42px;
  height: fit-content;
}

.beta__gradient-box {
  background: linear-gradient(28deg, #ffc593, #bc7198, #5a77ff);
  width: 6px;
  height: 280px;
  position: absolute;
  left: 0;
}
